.mdb-card {
    width: 50%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 5%;
    text-align: center;
}

.img {
    padding-top: 5%;
    width: 40%;
    height: 80%;
    margin: auto;
}

.not-events {
    padding-top: 14%;
    font-weight: 500;
}
